/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* css reset */

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Bruno Ace SC, serif;
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 128px;
    color: #00FFA3;
}

h2,
h3 {
    font-size: 64px;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.background-black {
    background-color: black;
}

.color-gray {
    color: #D1D1D1;
}

.color-white {
    color: #FFFFFF;
}

.fz-24 {
    font-size: 24px;
}

.w-526 {
    width: 526px;
}

.w-636 {
    width: 636px;
}

.p-160 {
    padding: 160px 0;
}

.mr-24 {
    margin-right: 24px;
}

.mb-24 {
    margin-bottom: 24px;
}


.mb-32 {
    margin-bottom: 32px;
}


.mb-36 {
    margin-bottom: 36px;
}

/* nav */

nav a {
    display: block;
    padding: 40px 0;
    color: #D1D1D1;
    /* 如何推 */
}


/* header */
header {
    padding: 72px 0 32px;
}

.title a {
    padding: 12px 24px;
    background: #FFFFFF;
    border-radius: 32px;
}


.title-name {
    flex-direction: column;
    align-items: flex-end;
}

/* section-introduce */



.introduce p {
    font-size: 24px;
}

.intro-description li {
    margin-right: 16px;
}

/* section-about */



.about h4,
h5 {
    font-size: 20px;
}



.about li {
    width: 48%;
    padding: 16px;
    border: 1px solid #E3E3E3;
    box-shadow: 4px 4px 4px 0px #00000014;
    ;
}

.wrap {
    flex-wrap: wrap;
}

/* section-contact */
.contact {
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
    padding: 96px 0;
}

.contact h2 {
    margin-right: 16px;
}

.contact a {
    display: block;

}

.contact a:hover {
    border-radius: 40px;
    box-shadow: 0 0 20px 2px #9094FFE5;

}

.contact li:nth-child(2) {
    margin: 0 20px;
}

/* section-project */

.project h3 {
    margin-left: 550px;
}

.project a {
    background: #050014;
    padding: 12px 24px;
    border-radius: 32px;
}


.project-detail {
    flex-direction: column;
}

.project-description {
    flex-direction: column;
    align-items: start;
}

/* footer */
footer {
    padding: 40px 0;
    background: black;
    text-align: center;
}


a:hover {
    color: #00FFA3;
}